Write the code for your interactive webpage in this notebook.

In [19]:
# store login data in login.py
%run login.py

In [20]:
# login query as multiline formatted string
# this assumes that login and pwd are defined 
# above

loginquery = f"""
mutation {{
  logIn(
      email:\"{login}\",
      password:\"{pwd}\") {{
    jwt {{
      token
      exp
    }}
  }}
}}
"""

In [21]:
import requests
url = 'https://api.numina.co/graphql'

mylogin = requests.post(url, json={'query': loginquery})
mylogin

In [22]:
token = mylogin.json()['data']['logIn']['jwt']['token']

In [23]:
expdate = mylogin.json()
expdate

{'data': {'logIn': {'jwt': {'exp': '2020-04-06T12:39:59.287897',
    'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODYxNzY3OTksImlhdCI6MTU4NjA5MDM5OSwic3ViIjoyODh9.7VJFS2EdsV2LRZDfKw5C0oWezlOX5Oeu_GmBiV7pmk4'}}}}

In [24]:
query1 = """
query {
  devices {
    count
    edges {
      node {
        rawId
        name
        serialno
      }
    }
  }
}
"""

devices = requests.post(url, json={'query': query1}, headers = {'Authorization':token})

In [25]:
devices.json()

{'data': {'devices': {'count': 3,
   'edges': [{'node': {'name': 'Streetscape - Sandbox',
      'rawId': '1b41b3eb5c254ea188c5bba172a89f76',
      'serialno': 'SWLSANDBOX1'}},
    {'node': {'name': 'Outside - Sandbox',
      'rawId': '29b315c428c54c77833d10822b429ded',
      'serialno': 'SWLSANDBOX3'}},
    {'node': {'name': 'Under Raincoat - Sandbox',
      'rawId': 'b0e5945bb2b14ad5977b138cd534c42e',
      'serialno': 'SWLSANDBOX2'}}]}}}

In [26]:
query2 = """
query {
  feedCountMetrics(
    serialnos:["SWLSANDBOX1"],
    startTime:"2019-12-06T00:00:00",
    endTime:"2020-12-09T00:00:00",
    objClasses:["pedestrian"],
    timezone:"America/New_York",
    interval:"2h") {
    edges {
      node {
        serialno
        result
        objClass
        time
      }
    }
  }
}
"""

dec2019peds = requests.post(url, json={'query': query2}, headers = {'Authorization':token})

In [27]:
query3 = """
query {
  feedDwellTimeDistribution(
    serialnos:["SWLSANDBOX1", "SWLSANDBOX2", "SWLSANDBOX3"],
    startTime:"2019-03-20T00:00:00",
    endTime:"2020-01-12T00:00:00",
    objClasses:["pedestrian"],
    timezone:"America/New_York"
    interval:"7d"
    ){
    edges {
      node {
        serialno
        pct100
        pct75
        pct50
        pct25
        mean
        count
        time
      }
    }
  }
}
"""
decDwell = requests.post(url, json={'query': query3}, headers = {'Authorization':token})

In [28]:
decDwellJson = decDwell.json()

In [29]:
decDwellList = decDwellJson['data']['feedDwellTimeDistribution']['edges']

In [30]:
decDwell_dic = []
for i in range(len(decDwellList)):
    decDwell_dic.append(decDwellList[i]['node'])

In [31]:
import pandas as pd
decDwell_df = pd.DataFrame.from_dict(decDwell_dic, orient='columns')
decDwell_df['time'] = decDwell_df['time'].str[:10]
decDwell_df['location'] = decDwell_df['serialno'].astype(str)
decDwell_df["location"].replace({"SWLSANDBOX3": "Outside", "SWLSANDBOX2": "Under Raincoat",
                                                          "SWLSANDBOX1": "Streetscape"}, inplace=True)

In [32]:
decDwell_df['time'] = pd.to_datetime(decDwell_df['time'])
decDwell_df.head()

,count,mean,pct100,pct25,pct50,pct75,serialno,time,location
0,4608,22.58,968.11,3.12,7.25,18.76,SWLSANDBOX1,2019-03-20,Streetscape
1,1206,11.27,308.67,2.61,4.68,8.37,SWLSANDBOX3,2019-03-20,Outside
2,657,14.73,327.78,2.61,5.74,13.03,SWLSANDBOX2,2019-03-20,Under Raincoat
3,23666,23.59,3104.64,2.64,6.77,18.72,SWLSANDBOX1,2019-03-27,Streetscape
4,2327,10.88,322.48,2.12,4.67,9.87,SWLSANDBOX3,2019-03-27,Outside

In [33]:
import ipywidgets as widgets
import pandas as pd
from datetime import datetime

start_date = min(decDwell_df['time'])
end_date = max(decDwell_df['time'])

dates = pd.date_range(start_date, end_date, freq='D')

options = [(date.strftime(' %d %b %Y '), date) for date in dates]
index = (0, len(options)-1)

selection_range_slider = widgets.SelectionRangeSlider(
    options=options,
    index=index,
    description='Dates',
    orientation='horizontal',
    layout={'width': '500px'}
)

In [34]:
locations = decDwell_df['location'].unique().tolist()
select_sensor = widgets.SelectMultiple(
    options= locations,
    description='Locations',
    disabled=False
)
select_sensor

SelectMultiple(description='Locations', options=('Streetscape', 'Outside', 'Under Raincoat'), value=())

In [35]:
import seaborn as sns
import matplotlib.pylab as plt

def draw_count(date_range, location):
    sns.set(style="whitegrid", font_scale=2)
    temp = pd.DataFrame()
    for loc in location:
        temp = temp.append(decDwell_df[decDwell_df['location'] == loc])
    temp = temp[(temp['time'] >= date_range[0]) & (temp['time'] <= date_range[1])]

    count_plot = sns.relplot(x='time', y='count', hue='location', data=temp, kind='line', height=9, aspect=16/9.)
    count_plot.ax.set_xticklabels([x.set_text('') if not (x.get_text().endswith('01') or x.get_text().endswith('02') or x.get_text().endswith('03') 
                                                      or x.get_text().endswith('04') or x.get_text().endswith('05') or x.get_text().endswith('06') 
                                                     or x.get_text().endswith('07') or x.get_text().endswith('08') or x.get_text().endswith('09')
                                                         or x.get_text().endswith('10') or x.get_text().endswith('11') or x.get_text().endswith('12')) else x for x in count_plot.ax.get_xticklabels()], rotation=45)
    count_plot.ax.set_title('Trend Chart of Number of Pedestrians', fontsize= 35)
    count_plot.ax.set_xlabel("Date",fontsize=25)
    count_plot.ax.set_ylabel("Count",fontsize=25)
    count_plot.ax.xaxis.get_label().set_fontsize(30)
    plt.show()

widgets.interact(draw_count, date_range=selection_range_slider, location = select_sensor)

interactive(children=(SelectionRangeSlider(description='Dates', index=(0, 294), layout=Layout(width='500px'), …

In [36]:
()

()

In [43]:
query8 = """
query {
  feedDwellTimeDistribution(
    serialnos:["SWLSANDBOX1", "SWLSANDBOX2", "SWLSANDBOX3"],
    startTime:"2019-01-01T00:00:00",
    endTime:"2020-01-01T00:00:00",
    objClasses:["pedestrian"],
    timezone:"America/New_York"
    interval:"1h"
    ){
    edges {
      node {
        serialno
        pct100
        pct75
        pct50
        pct25
        mean
        count
        time
      }
    }
  }
}
"""
year2019 = requests.post(url, json={'query': query8}, headers = {'Authorization':token})

In [54]:
year2019Json = year2019.json()
year2019List = year2019Json['data']['feedDwellTimeDistribution']['edges']
year2019_dic = []
for i in range(len(year2019List)):
    year2019_dic.append(year2019List[i]['node'])
import pandas as pd
year2019_df = pd.DataFrame.from_dict(year2019_dic, orient='columns')
year2019_df['time'] = year2019_df['time'].str[:19]
year2019_df['location'] = year2019_df['serialno'].astype(str)
year2019_df["location"].replace({"SWLSANDBOX3": "Outside", "SWLSANDBOX2": "Under Raincoat",
                                                          "SWLSANDBOX1": "Streetscape"}, inplace=True)
year2019_df['time'] = pd.to_datetime(year2019_df['time'])

In [46]:
def schedule(time, time_range):
    if time < time_range[0]:
        return time_range[0] - time
    elif time > time_range[1]:
        return time_range[0] - time + 24
    else:
        return 0

In [76]:
def maintain(date_range, loc, time_range, limit):
    temp = year2019_df[(year2019_df['time'] >= date_range[0]) & (year2019_df['time'] <= date_range[1])]
    temp = temp[temp.location == loc].reset_index().drop(columns='index')
    temp.loc[:, 'maintain'] = False
    visitor = 0
    hour = 0
    i = 0
    while (i < len(temp)):
        # need maintainance
        if (visitor > 500) | (hour > 500):
            # check the time
            time = int(str(temp.time[i])[11:13])
            # find the time satisfy the limit
            wait1 = 0
            while(temp.loc[i+wait1, 'count'] > limit):
                wait1 += 1
            # schedule the time
            wait2 = schedule(time+wait1, time_range)
            # update
            temp.loc[i+wait1+wait2, 'maintain'] = True
            visitor = 0
            hour = 0
            i += (wait1 + wait2)
        else:
            visitor += temp.loc[i, 'count']
            hour += 1
            i += 1
    return temp[temp.maintain == True]

In [77]:
year2019_df

,count,mean,pct100,pct25,pct50,pct75,serialno,time,location
0,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX1,2019-01-01 00:00:00,Streetscape
1,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX3,2019-01-01 00:00:00,Outside
2,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-01-01 00:00:00,Under Raincoat
3,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX1,2019-01-01 01:00:00,Streetscape
4,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX3,2019-01-01 01:00:00,Outside
...,...,...,...,...,...,...,...,...,...
26275,1,4.21,4.21,4.21,4.21,4.21,SWLSANDBOX3,2019-12-31 22:00:00,Outside
26276,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-12-31 22:00:00,Under Raincoat
26277,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX1,2019-12-31 23:00:00,Streetscape
26278,5,6.25,8.83,5.77,6.75,8.31,SWLSANDBOX3,2019-12-31 23:00:00,Outside
26279,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-12-31 23:00:00,Under Raincoat

In [78]:
day1 = year2019_df.time[200]
day2 = year2019_df.time[10000]
date_range = [day1, day2]
time1 = 9
time2 = 20
time_range = [time1, time2]

In [79]:
maintain(date_range, 'Under Raincoat', time_range, 30)

,count,mean,pct100,pct25,pct50,pct75,serialno,time,location,maintain
501,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-01-24 15:00:00,Under Raincoat,True
1002,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-02-14 12:00:00,Under Raincoat,True
1503,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-03-07 09:00:00,Under Raincoat,True
1961,12,7.19,22.39,1.58,7.80,11.48,SWLSANDBOX2,2019-03-26 11:00:00,Under Raincoat,True
2012,13,5.24,13.56,2.61,4.71,6.72,SWLSANDBOX2,2019-03-28 14:00:00,Under Raincoat,True
2325,1,6.27,6.27,6.27,6.27,6.27,SWLSANDBOX2,2019-04-10 15:00:00,Under Raincoat,True
2490,9,4.16,15.61,1.56,2.59,4.16,SWLSANDBOX2,2019-04-17 12:00:00,Under Raincoat,True
2706,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-04-26 12:00:00,Under Raincoat,True
2944,2,3.89,4.12,3.67,4.12,4.12,SWLSANDBOX2,2019-05-06 10:00:00,Under Raincoat,True
3000,4,5.85,14.00,3.13,4.73,14.00,SWLSANDBOX2,2019-05-08 18:00:00,Under Raincoat,True
3071,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-05-11 17:00:00,Under Raincoat,True
3164,2,12.22,19.23,5.21,19.23,19.23,SWLSANDBOX2,2019-05-15 14:00:00,Under Raincoat,True

In [73]:
str(year2019_df.time[200])[11:13]

'18'