Write the code for your interactive webpage in this notebook.

In [19]:
# store login data in login.py
%run login.py

In [20]:
# login query as multiline formatted string
# this assumes that login and pwd are defined 
# above

loginquery = f"""
mutation {{
  logIn(
      email:\"{login}\",
      password:\"{pwd}\") {{
    jwt {{
      token
      exp
    }}
  }}
}}
"""

In [21]:
import requests
url = 'https://api.numina.co/graphql'

mylogin = requests.post(url, json={'query': loginquery})
mylogin

In [22]:
token = mylogin.json()['data']['logIn']['jwt']['token']

In [23]:
expdate = mylogin.json()
expdate

{'data': {'logIn': {'jwt': {'exp': '2020-04-06T12:39:59.287897',
    'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1ODYxNzY3OTksImlhdCI6MTU4NjA5MDM5OSwic3ViIjoyODh9.7VJFS2EdsV2LRZDfKw5C0oWezlOX5Oeu_GmBiV7pmk4'}}}}

In [24]:
query1 = """
query {
  devices {
    count
    edges {
      node {
        rawId
        name
        serialno
      }
    }
  }
}
"""

devices = requests.post(url, json={'query': query1}, headers = {'Authorization':token})

In [25]:
devices.json()

{'data': {'devices': {'count': 3,
   'edges': [{'node': {'name': 'Streetscape - Sandbox',
      'rawId': '1b41b3eb5c254ea188c5bba172a89f76',
      'serialno': 'SWLSANDBOX1'}},
    {'node': {'name': 'Outside - Sandbox',
      'rawId': '29b315c428c54c77833d10822b429ded',
      'serialno': 'SWLSANDBOX3'}},
    {'node': {'name': 'Under Raincoat - Sandbox',
      'rawId': 'b0e5945bb2b14ad5977b138cd534c42e',
      'serialno': 'SWLSANDBOX2'}}]}}}

In [26]:
query2 = """
query {
  feedCountMetrics(
    serialnos:["SWLSANDBOX1"],
    startTime:"2019-12-06T00:00:00",
    endTime:"2020-12-09T00:00:00",
    objClasses:["pedestrian"],
    timezone:"America/New_York",
    interval:"2h") {
    edges {
      node {
        serialno
        result
        objClass
        time
      }
    }
  }
}
"""

dec2019peds = requests.post(url, json={'query': query2}, headers = {'Authorization':token})

In [27]:
query3 = """
query {
  feedDwellTimeDistribution(
    serialnos:["SWLSANDBOX1", "SWLSANDBOX2", "SWLSANDBOX3"],
    startTime:"2019-03-20T00:00:00",
    endTime:"2020-01-12T00:00:00",
    objClasses:["pedestrian"],
    timezone:"America/New_York"
    interval:"7d"
    ){
    edges {
      node {
        serialno
        pct100
        pct75
        pct50
        pct25
        mean
        count
        time
      }
    }
  }
}
"""
decDwell = requests.post(url, json={'query': query3}, headers = {'Authorization':token})

In [28]:
decDwellJson = decDwell.json()

In [29]:
decDwellList = decDwellJson['data']['feedDwellTimeDistribution']['edges']

In [30]:
decDwell_dic = []
for i in range(len(decDwellList)):
    decDwell_dic.append(decDwellList[i]['node'])

In [31]:
import pandas as pd
decDwell_df = pd.DataFrame.from_dict(decDwell_dic, orient='columns')
decDwell_df['time'] = decDwell_df['time'].str[:10]
decDwell_df['location'] = decDwell_df['serialno'].astype(str)
decDwell_df["location"].replace({"SWLSANDBOX3": "Outside", "SWLSANDBOX2": "Under Raincoat",
                                                          "SWLSANDBOX1": "Streetscape"}, inplace=True)

In [32]:
decDwell_df['time'] = pd.to_datetime(decDwell_df['time'])
decDwell_df.head()

,count,mean,pct100,pct25,pct50,pct75,serialno,time,location
0,4608,22.58,968.11,3.12,7.25,18.76,SWLSANDBOX1,2019-03-20,Streetscape
1,1206,11.27,308.67,2.61,4.68,8.37,SWLSANDBOX3,2019-03-20,Outside
2,657,14.73,327.78,2.61,5.74,13.03,SWLSANDBOX2,2019-03-20,Under Raincoat
3,23666,23.59,3104.64,2.64,6.77,18.72,SWLSANDBOX1,2019-03-27,Streetscape
4,2327,10.88,322.48,2.12,4.67,9.87,SWLSANDBOX3,2019-03-27,Outside

In [33]:
import ipywidgets as widgets
import pandas as pd
from datetime import datetime

start_date = min(decDwell_df['time'])
end_date = max(decDwell_df['time'])

dates = pd.date_range(start_date, end_date, freq='D')

options = [(date.strftime(' %d %b %Y '), date) for date in dates]
index = (0, len(options)-1)

selection_range_slider = widgets.SelectionRangeSlider(
    options=options,
    index=index,
    description='Dates',
    orientation='horizontal',
    layout={'width': '500px'}
)

In [34]:
locations = decDwell_df['location'].unique().tolist()
select_sensor = widgets.SelectMultiple(
    options= locations,
    description='Locations',
    disabled=False
)
select_sensor

SelectMultiple(description='Locations', options=('Streetscape', 'Outside', 'Under Raincoat'), value=())

In [35]:
import seaborn as sns
import matplotlib.pylab as plt

def draw_count(date_range, location):
    sns.set(style="whitegrid", font_scale=2)
    temp = pd.DataFrame()
    for loc in location:
        temp = temp.append(decDwell_df[decDwell_df['location'] == loc])
    temp = temp[(temp['time'] >= date_range[0]) & (temp['time'] <= date_range[1])]

    count_plot = sns.relplot(x='time', y='count', hue='location', data=temp, kind='line', height=9, aspect=16/9.)
    count_plot.ax.set_xticklabels([x.set_text('') if not (x.get_text().endswith('01') or x.get_text().endswith('02') or x.get_text().endswith('03') 
                                                      or x.get_text().endswith('04') or x.get_text().endswith('05') or x.get_text().endswith('06') 
                                                     or x.get_text().endswith('07') or x.get_text().endswith('08') or x.get_text().endswith('09')
                                                         or x.get_text().endswith('10') or x.get_text().endswith('11') or x.get_text().endswith('12')) else x for x in count_plot.ax.get_xticklabels()], rotation=45)
    count_plot.ax.set_title('Trend Chart of Number of Pedestrians', fontsize= 35)
    count_plot.ax.set_xlabel("Date",fontsize=25)
    count_plot.ax.set_ylabel("Count",fontsize=25)
    count_plot.ax.xaxis.get_label().set_fontsize(30)
    plt.show()

widgets.interact(draw_count, date_range=selection_range_slider, location = select_sensor)

interactive(children=(SelectionRangeSlider(description='Dates', index=(247, 294), layout=Layout(width='500px')â€¦

In [36]:
()

()

In [43]:
query8 = """
query {
  feedDwellTimeDistribution(
    serialnos:["SWLSANDBOX1", "SWLSANDBOX2", "SWLSANDBOX3"],
    startTime:"2019-01-01T00:00:00",
    endTime:"2020-01-01T00:00:00",
    objClasses:["pedestrian"],
    timezone:"America/New_York"
    interval:"1h"
    ){
    edges {
      node {
        serialno
        pct100
        pct75
        pct50
        pct25
        mean
        count
        time
      }
    }
  }
}
"""
year2019 = requests.post(url, json={'query': query8}, headers = {'Authorization':token})

In [54]:
year2019Json = year2019.json()
year2019List = year2019Json['data']['feedDwellTimeDistribution']['edges']
year2019_dic = []
for i in range(len(year2019List)):
    year2019_dic.append(year2019List[i]['node'])
import pandas as pd
year2019_df = pd.DataFrame.from_dict(year2019_dic, orient='columns')
year2019_df['time'] = year2019_df['time'].str[:19]
year2019_df['location'] = year2019_df['serialno'].astype(str)
year2019_df["location"].replace({"SWLSANDBOX3": "Outside", "SWLSANDBOX2": "Under Raincoat",
                                                          "SWLSANDBOX1": "Streetscape"}, inplace=True)
year2019_df['time'] = pd.to_datetime(year2019_df['time'])

In [46]:
def schedule(time, time_range):
    if time < time_range[0]:
        return time_range[0] - time
    elif time > time_range[1]:
        return time_range[0] - time + 24
    else:
        return 0

In [76]:
def maintain(date_range, loc, time_range, limit):
    temp = year2019_df[(year2019_df['time'] >= date_range[0]) & (year2019_df['time'] <= date_range[1])]
    temp = temp[temp.location == loc].reset_index().drop(columns='index')
    temp.loc[:, 'maintain'] = False
    visitor = 0
    hour = 0
    i = 0
    while (i < len(temp)):
        # need maintainance
        if (visitor > 500) | (hour > 500):
            # check the time
            time = int(str(temp.time[i])[11:13])
            # find the time satisfy the limit
            wait1 = 0
            while(temp.loc[i+wait1, 'count'] > limit):
                wait1 += 1
            # schedule the time
            wait2 = schedule(time+wait1, time_range)
            # update
            temp.loc[i+wait1+wait2, 'maintain'] = True
            visitor = 0
            hour = 0
            i += (wait1 + wait2)
        else:
            visitor += temp.loc[i, 'count']
            hour += 1
            i += 1
    return temp[temp.maintain == True]

In [83]:
# example
day1 = year2019_df.time[200]
day2 = year2019_df.time[20000]
date_range = [day1, day2]
time1 = 9
time2 = 20
time_range = [time1, time2]

In [84]:
maintain(date_range, 'Under Raincoat', time_range, 30)

,count,mean,pct100,pct25,pct50,pct75,serialno,time,location,maintain
501,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-01-24 15:00:00,Under Raincoat,True
1002,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-02-14 12:00:00,Under Raincoat,True
1503,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-03-07 09:00:00,Under Raincoat,True
1961,12,7.19,22.39,1.58,7.80,11.48,SWLSANDBOX2,2019-03-26 11:00:00,Under Raincoat,True
2012,13,5.24,13.56,2.61,4.71,6.72,SWLSANDBOX2,2019-03-28 14:00:00,Under Raincoat,True
2325,1,6.27,6.27,6.27,6.27,6.27,SWLSANDBOX2,2019-04-10 15:00:00,Under Raincoat,True
2490,9,4.16,15.61,1.56,2.59,4.16,SWLSANDBOX2,2019-04-17 12:00:00,Under Raincoat,True
2706,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-04-26 12:00:00,Under Raincoat,True
2944,2,3.89,4.12,3.67,4.12,4.12,SWLSANDBOX2,2019-05-06 10:00:00,Under Raincoat,True
3000,4,5.85,14.00,3.13,4.73,14.00,SWLSANDBOX2,2019-05-08 18:00:00,Under Raincoat,True
3071,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-05-11 17:00:00,Under Raincoat,True
3164,2,12.22,19.23,5.21,19.23,19.23,SWLSANDBOX2,2019-05-15 14:00:00,Under Raincoat,True
3280,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-05-20 10:00:00,Under Raincoat,True
3423,11,20.48,63.43,2.59,13.60,27.56,SWLSANDBOX2,2019-05-26 09:00:00,Under Raincoat,True
3495,1,1.07,1.07,1.07,1.07,1.07,SWLSANDBOX2,2019-05-29 09:00:00,Under Raincoat,True
3571,4,2.87,7.84,1.06,1.52,7.84,SWLSANDBOX2,2019-06-01 13:00:00,Under Raincoat,True
3671,11,55.76,533.29,1.52,4.13,7.73,SWLSANDBOX2,2019-06-05 17:00:00,Under Raincoat,True
3787,3,8.53,16.75,4.17,4.66,16.75,SWLSANDBOX2,2019-06-10 13:00:00,Under Raincoat,True
3933,13,8.10,23.97,2.12,5.14,9.92,SWLSANDBOX2,2019-06-16 15:00:00,Under Raincoat,True
4030,14,5.03,24.98,1.58,3.16,6.18,SWLSANDBOX2,2019-06-20 16:00:00,Under Raincoat,True
4071,1,1.58,1.58,1.58,1.58,1.58,SWLSANDBOX2,2019-06-22 09:00:00,Under Raincoat,True
4125,8,4.22,6.83,3.14,4.64,6.76,SWLSANDBOX2,2019-06-24 15:00:00,Under Raincoat,True
4153,6,28.63,135.48,3.10,3.63,24.45,SWLSANDBOX2,2019-06-25 19:00:00,Under Raincoat,True
4217,11,3.73,8.39,1.52,3.14,5.71,SWLSANDBOX2,2019-06-28 11:00:00,Under Raincoat,True
4248,3,6.78,11.44,4.18,4.70,11.44,SWLSANDBOX2,2019-06-29 18:00:00,Under Raincoat,True
4293,3,6.94,11.96,1.57,7.28,11.96,SWLSANDBOX2,2019-07-01 15:00:00,Under Raincoat,True
4384,15,10.19,43.70,2.53,5.24,16.67,SWLSANDBOX2,2019-07-05 10:00:00,Under Raincoat,True
4464,5,2.39,3.60,2.07,2.61,2.62,SWLSANDBOX2,2019-07-08 18:00:00,Under Raincoat,True
4551,23,29.74,387.63,3.10,6.24,23.91,SWLSANDBOX2,2019-07-12 09:00:00,Under Raincoat,True
4628,1,1.58,1.58,1.58,1.58,1.58,SWLSANDBOX2,2019-07-15 14:00:00,Under Raincoat,True
4699,27,19.13,109.23,2.56,7.27,25.02,SWLSANDBOX2,2019-07-18 13:00:00,Under Raincoat,True
4791,116,12.10,176.42,2.59,5.19,10.43,SWLSANDBOX2,2019-07-22 09:00:00,Under Raincoat,True
4796,3,3.30,6.83,1.01,2.08,6.83,SWLSANDBOX2,2019-07-22 14:00:00,Under Raincoat,True
4872,29,14.43,108.74,2.09,5.21,17.22,SWLSANDBOX2,2019-07-25 18:00:00,Under Raincoat,True
5206,10,12.70,81.20,2.10,3.66,8.86,SWLSANDBOX2,2019-08-08 16:00:00,Under Raincoat,True
5234,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-08-09 20:00:00,Under Raincoat,True
5320,15,17.74,84.36,2.10,6.73,17.73,SWLSANDBOX2,2019-08-13 10:00:00,Under Raincoat,True
5376,28,8.27,36.47,2.64,4.14,10.41,SWLSANDBOX2,2019-08-15 18:00:00,Under Raincoat,True
5415,2,3.14,5.23,1.05,5.23,5.23,SWLSANDBOX2,2019-08-17 09:00:00,Under Raincoat,True
5463,15,38.69,244.56,2.61,6.22,22.43,SWLSANDBOX2,2019-08-19 09:00:00,Under Raincoat,True
5522,5,11.57,22.94,7.31,10.94,15.62,SWLSANDBOX2,2019-08-21 20:00:00,Under Raincoat,True
5639,1,5.18,5.18,5.18,5.18,5.18,SWLSANDBOX2,2019-08-26 17:00:00,Under Raincoat,True
5734,3,2.27,3.13,1.05,2.63,3.13,SWLSANDBOX2,2019-08-30 16:00:00,Under Raincoat,True
5806,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-09-02 16:00:00,Under Raincoat,True
5847,19,12.53,55.28,3.12,7.25,19.18,SWLSANDBOX2,2019-09-04 09:00:00,Under Raincoat,True
5903,11,10.35,25.52,3.63,7.83,19.24,SWLSANDBOX2,2019-09-06 17:00:00,Under Raincoat,True
5998,15,4.82,15.09,2.60,3.12,6.72,SWLSANDBOX2,2019-09-10 16:00:00,Under Raincoat,True
6039,24,15.17,93.17,2.10,6.28,15.60,SWLSANDBOX2,2019-09-12 09:00:00,Under Raincoat,True
6063,63,50.30,883.94,2.60,8.89,46.24,SWLSANDBOX2,2019-09-13 09:00:00,Under Raincoat,True
6089,3,4.32,8.78,1.05,3.13,8.78,SWLSANDBOX2,2019-09-14 11:00:00,Under Raincoat,True
6135,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-09-16 09:00:00,Under Raincoat,True
6193,24,12.91,52.61,3.14,7.80,19.76,SWLSANDBOX2,2019-09-18 19:00:00,Under Raincoat,True
6236,18,12.78,134.24,2.60,4.18,7.35,SWLSANDBOX2,2019-09-20 14:00:00,Under Raincoat,True
6283,6,11.18,29.64,2.10,2.62,28.57,SWLSANDBOX2,2019-09-22 13:00:00,Under Raincoat,True
6333,9,29.04,135.90,2.63,5.18,7.30,SWLSANDBOX2,2019-09-24 15:00:00,Under Raincoat,True
6358,30,19.58,137.36,2.57,5.68,10.92,SWLSANDBOX2,2019-09-25 16:00:00,Under Raincoat,True
6408,9,24.39,96.21,2.64,6.20,10.41,SWLSANDBOX2,2019-09-27 18:00:00,Under Raincoat,True
6472,6,2.68,4.72,1.05,3.61,3.64,SWLSANDBOX2,2019-09-30 10:00:00,Under Raincoat,True
6521,0,NaN,NaN,NaN,NaN,NaN,SWLSANDBOX2,2019-10-02 11:00:00,Under Raincoat,True